<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/css/cvs.css">
    <title>Tiendas</title>
</head>
<body>
  <div class="info">
    <div>
      Dirección: Av. Paseo la Castellana 386, Lima 15048</div>
    <div> Horario de apertura: 09:00 - 22:00 </div>
    <div>Teléfono: (01) 2714437</div>
    <button type="button" class="remove-product" onclick="window.location.href = 'http://127.0.0.1:8000/mapita';">
        Mapa
      </button>
      </div>
  </div>
</body>
</html>