<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/css/cvs.css">
    <title>Tiendas</title>
</head>
<body>
  <div class="info">
    <div>Dirección: Av. República de Panamá 6584, Barranco 15047</div>
    <div> Horario de apertura: 24 horas al día </div>
    <div>Teléfono: (01) 4466179</div>
    <button type="button" class="remove-product" onclick="window.location.href = 'http://127.0.0.1:8000/mapa2';">
        Mapa
      </button>
      </div>
  </div>
</body>
</html>